.paper {
    text-align: "center";
    color: blue;
    width: 150px;
    padding: 10px
}

.root {
    flex-grow: 1;
}

.image {
    height: 50px;
    width: 80px;
}

.badge {
    display: flex;
    justify-content: center;
    align-items: center
}